---
import TripLayout from '../../layouts/TripLayout.astro';
import { render, getEntry } from 'astro:content';

const entry = await getEntry('japan2026', 'bookings');
const { Content } = await render(entry!);
---

<TripLayout title="Bookings" activeNav="bookings">
  <div class="content-card prose">
    <Content />
  </div>
</TripLayout>
