---
import TripLayout from '../../layouts/TripLayout.astro';
import { render, getEntry } from 'astro:content';

const entry = await getEntry('japan2026', 'hotels');
const { Content } = await render(entry!);
---

<TripLayout title="Hotels" activeNav="hotels">
  <div class="content-card prose page-hotels">
    <Content />
  </div>
</TripLayout>
