---
import TripLayout from '../../layouts/TripLayout.astro';
import { render, getEntry } from 'astro:content';

const entry = await getEntry('japan2026', 'restaurants');
const { Content } = await render(entry!);
---

<TripLayout title="Restaurants" activeNav="restaurants">
  <div class="content-card prose">
    <Content />
  </div>
</TripLayout>
